 .sidebar-container {
  background-color: #1848D9;
  height: 100vh;
  position: fixed;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

}

.sidebar-items {
  color: #B6C5F2;
  list-style: none;
  margin: 0;
  padding-top: 100px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor:pointer;
  font-size: 16px;
  transition: font-size 0.5s ease-in-out;
}

.sidebar-items:hover {
  font-size: 20px;
}

ul {
  list-style: none; 
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}

ul li {
  margin: 0 10px;
  font-size: large;
  font-weight: bold;
}

ul li:hover {
  font-size: 30px;
}

ul li a {
  text-decoration: none;
}

hr {
  border: none;
  background: none;
  color: black;
}

.face-pic {
  margin-top: 50px;
  border-radius: 50%;
  width: 120px;
  height: 120px;
}


/* Estilos del menú hamburguesa */
.menu-toggle {
  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  font-size: 24px;
  color: white;
}

/* Responsive */
@media (max-width: 768px) {
  .sidebar-container {
    width: 100%;
    transform: translateX(-100%);
    position:absolute;
    z-index: 1000;
    justify-content: flex-start;
  }

  .sidebar-items {
    padding-top: 0px;
  }

  .sidebar-container.open {
    transform: translateX(0);
  }

  .menu-toggle {
    display: block;
    z-index: 1100;
  }
}

