
.container {
  display: flex;
  width: 100%;
}

.left {
  width: 20%;
  height: 100vh;
  background-color: #B6C5F2;
}

.right {
  width: 80%;
  background-color: #435373;
  height: 100vh;
  padding-left: 40px;
}

.right section {
  background-color: inherit;
}

@media (max-width: 768px) {
  .left {
    width: 0vw;
  }

  .right {
    width: 100%;
    justify-content: center;
    padding-left: 0px;
  }
}