* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', Open Sans;
}

h1 {
  color: black;
}

h2 {
  color: #b6c5f2;
}

h3 {
  color: #B6C5F2;
}

button {
  background-color: #4b75f2;
  -webkit-box-shadow: 1px 1px 41px -1px rgba(0, 0, 0, 0.72);
  -moz-box-shadow: 1px 1px 41px -1px rgba(0, 0, 0, 0.72);
  box-shadow: 1px 1px 41px -1px rgba(0, 0, 0, 0.72);
  font-weight: bold;
}

a {
  color: black;
}

.sidebar {
  background: transparent !important;
  box-shadow: none !important;
}

hr,
.divider,
section > hr,
.container > hr {
  display: none !important;
  height: 0 !important;
  margin: 0 !important;
  border: 0 !important;
  background: transparent !important;
}


@media (max-width: 768px) {
  .sidebar-container {
    width: 60%;
    transform: translateX(-100%);
  }

  .sidebar-container.open {
    transform: translateX(0);
  }

  .menu-toggle {
    display: block;
  }

  .projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

