.portafolio {
  background-color: inherit;
  padding-top: 150px;
  padding-left: 40px;
}

.h1-portafolio {
  padding-bottom: 40px;
}

.proyectos {
  display: flex;
  flex-direction: row;
  gap: 40px;
  padding-bottom: 150px;
}

.proyectos div {
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #4b75f2;
  -webkit-box-shadow: 1px 1px 41px -1px rgba(0, 0, 0, 0.72);
  -moz-box-shadow: 1px 1px 41px -1px rgba(0, 0, 0, 0.72);
  box-shadow: 1px 1px 41px -1px rgba(0, 0, 0, 0.72);
  font-weight: bold;
}

.proyectos h3 {
  color: black;
  background-color: #4b75f2;
}

.proyectos i {
  font-size: 20px;
  background-color: #4b75f2;
}

.proyectos a {
  background-color: #4b75f2;
}

.proyectos span {
  background-color: #4b75f2;
}

.proyecto-desplegado2 img {
  width: 301px;
  height: 167px;
  overflow: hidden;
}

.proyecto-desplegado3 img {
  width: 301px;
  height: 167px;
  overflow: hidden;
}

@media (max-width: 768px) {
  .proyectos {
    flex-direction: column;
  }
}